@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway/Raleway.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
  
  @font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway/Raleway.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

.image-fade-out {
  filter: none;
  transition: filter 0.5s ease-out;
}
